Xcursor*theme:	bluecurve

URxvt.buffered:		true
!URxvt.background:	black
! transparent background (requires xcompmgr )
URxvt.depth: 32
URxvt.background: [70]#000000
URxvt*scrollColor: [80]#000000
URxvt.foreground:	gray
URxvt.cursorColor:	green
URxvt.underlineColor:	yellow
URxvt.font:		xft:PragmataPro:pixelsize=10:antialias=true
URxvt.boldFont:		xft:PragmataPro:bold::pixelsize=10:antialias=true
! fix for some weird font spacing (in pixels)
! URxvt*letterSpace:	-1
!URxvt.perl-ext-common:		true
URxvt.title:		Example title
URxvt.scrollBar:	true
URxvt.perl-lib:		/usr/lib/urxvt/perl/
URxvt.perl-ext-common:	default,matcher,clipboard
! right-click to follow a link
URxvt.matcher.button:	3
URxvt.urlLauncher:	/usr/bin/chromium

! black
!URxvt.color0  : #2E2E34343636
!URxvt.color8  : #555557575353
! red
!URxvt.color1  : #CCCC00000000
!URxvt.color9  : #EFEF29292929
! green
!URxvt.color2  : #4E4E9A9A0606
!URxvt.color10 : #8A8AE2E23434
! yellow
!URxvt.color3  : #C4C4A0A00000
!URxvt.color11 : #FCFCE9E94F4F
! blue
!URxvt.color4  : #59599797E7E7
!URxvt.color12 : #72729F9FCFCF
! magenta
!URxvt.color5  : #757550507B7B
!URxvt.color13 : #ADAD7F7FA8A8
! cyan
!URxvt.color6  : #060698209A9A
!URxvt.color14 : #3434E2E2E2E2
! white
!URxvt.color7  : #D3D3D7D7CFCF
!URxvt.color15 : #EEEEEEEEECEC